@import colors
@import prefixes
@import extraIg
.ig
    @import basics

.ig
    svg
        overflow hidden
        .axis
            font-size 0.72em
            .tick
                text
                    fill #444
                line
                    stroke #bbb
                    stroke-width 1px
                    shape-rendering crispEdges
            path.domain
                stroke #bbb
                shape-rendering crispEdges
        .graph.secondary-active
            .athlete
                fill-opacity 0.5
                &.highlight
                    fill-opacity 1

.ig
    ul.selector
        position absolute
        top 0px
        left 68px
        height 0px // don't overlay the graph
        list-style-type none
        padding 0px
        margin 0px
        li
            HNDorange = desaturate(HNOrange, 87%)
            width 84px
            height 109px
            border-radius 4px
            border 1px solid lighten(HNDorange,70%)
            margin-left 10px
            margin-bottom 10px
            float left
            overflow hidden
            position relative
            background lighten(HNDorange,95%)

            &:first-child
            &:nth-child(10)
                margin-left 0px
            &:hover
                cursor pointer
                background lighten(HNDorange,90%)
            &.active
                background lighten(HNDorange,87%)
                border-color lighten(HNDorange,53%)
            span
                position absolute
                top 62px
                left 0px
                width 100%
                text-align center
                font-size 0.8em
                color #444
            canvas
                width 100%
                height 60px
                background #fff
                border-bottom 1px dotted #ccc
    ul.sex-selector
        top 250px
