@import colors
@import prefixes
@import extraIg
@import Tooltip

.ig
    @import basics

.ig
    width 965px
    height 715px
    margin-top 20px
    svg
        overflow hidden
        .axis
            font-size 0.72em
            .tick
                text
                    fill #444
                    font-variant small-caps
                line
                    stroke #bbb
                    stroke-width 1px
                    shape-rendering crispEdges
            path.domain
                stroke #bbb
                shape-rendering crispEdges
        .graph.secondary-active
            .athlete
                fill-opacity 0.5
                &.highlight
                    fill-opacity 1
        g.crosshair
            line
                stroke lighten(desaturate(HNBlue, 60%), 30%)
                shape-rendering crispEdges
            circle
                fill HNBlue
                stroke-width 1px

    HNDorange = desaturate(HNOrange, 87%)
    ul.selector
        position absolute
        top 0px
        left 68px
        height 0px // don't overlay the graph
        list-style-type none
        list-style-image none
        padding 0px
        margin 0px
        li
            width 87px
            height 104px
            border-radius 4px
            border 1px solid lighten(HNDorange,70%)
            margin-left 10px
            margin-bottom 10px
            float left
            overflow hidden
            position relative
            background lighten(HNDorange,95%)

            &:first-child
            &:nth-child(10)
                margin-left 0px
            &:hover
                cursor pointer
                background lighten(HNDorange,92%)
            &.active
                background lighten(HNDorange,80%)
                border-color lighten(HNDorange,53%)
                box-shadow 0px 0px 2px lighten(HNOrange, 60%)
                span
                    color #111
                    font-weight bold
                    color darken(HNDorange, 60%)
                canvas
                    background lighten(HNDorange,95%)
            span
                position absolute
                top 65px
                left 0px
                width 100%
                text-align center
                text-transform uppercase
                font-size 0.7em
                line-height 1.5em
                color #666
            canvas
                width 100%
                height 60px
                background #fff
                border-bottom 1px dotted #ccc
    ul.sex-selector
        top 250px
        li
            height 89px
    form
        &.off
            display none
        position absolute
        right 5px
        bottom 28px
        float right
        background rgba(255,255,255,0.7)
        p
            font-size 0.7em
            color #444
            text-align right
            text-transform uppercase
            max-width 250px
            &.closest
                font-weight bold
                margin 0px 0px 5px 0px
                border-bottom 1px solid #444
                float right
        div
            float right
            clear both
            label
                display block
                clear left
                float left
                width 50px
                text-transform uppercase
                font-size 0.7em
                padding-top 4px
                color #666
                text-align right
                margin-right 14px
            input
                border-radius 4px
                float left
                border 1px solid lighten(HNDorange,70%)
                color #666
                font-size 0.8em
                padding 3px 7px
                margin 0px
                background lighten(HNDorange,92%)
                width 45px
                text-align right
                &:hover
                    background lighten(HNDorange,87%)
                &:focus
                    background lighten(HNDorange,85%)
                    border-color lighten(HNDorange,53%)
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button
                    display none
                &[type=submit]
                    clear left
                    float right
                    width auto
                    background lighten(HNDorange,85%)
                    border-color lighten(HNDorange,53%)


            label
            input
                margin-bottom 7px
    form ul,
    div.aux ul
        float left
        clear both
        margin 0px 0px 18px 0px
        padding 0px
        list-style-type none
        list-style-image none
        &:empty
            display none
        li
            float right
            clear both
            padding 0px 0px 0px 12px
            font-size 0.7em
            color #444 !important
            text-align right
    div.aux
        position absolute
        right 5px
        bottom 28px
        background rgba(255,255,255,0.7)
        h3
            font-size 0.7em
            color #444
            text-align right
            text-transform uppercase
            font-weight bold
            margin 0px 0px 5px 0px
            border-bottom 1px solid #444
            float right
        ul
            float right
