@import colors
@import prefixes
@import extraIg
.ig
    @import basics

.ig
    svg
        overflow hidden
        .axis
            font-size 0.72em
            .tick
                text
                    fill #444
                line
                    stroke #888
                    stroke-width 1px
                    shape-rendering crispEdges
            path.domain
                stroke #888
                shape-rendering crispEdges


